---
//@ts-nocheck
import DynamicImage from "@components/helpers/DynamicImage.astro";
import caseStudy from "@data/caseStudy.json";
import Button from "./Button.astro";
const { caseName, category, date, image, buttonLabel } = caseStudy.caseDetails;
---

<article>
  <header>
    <div class="img">
      <DynamicImage imagePath={image} altText={caseName} />
    </div>
    <div class="case-details">
      <dl>
        <div>
          <dt>Case Name</dt>
          <dd>{caseName}</dd>
        </div>
        <div>
          <dt>Category</dt>
          <dd class="category">{category}</dd>
        </div>
        <div>
          <dt>Date</dt>
          <dd class="date">{date}</dd>
        </div>
      </dl>
      <Button Type="yellow">Live preview</Button>
    </div>
  </header>
  <div class="test">
    {
      caseStudy.sections.map((section) => (
        <section>
          {caseStudy.sections[0] === section ? <h2>{section.title}</h2> : <h3>{section.title}</h3>}

          {Array.isArray(section.content) ? (
            <>
              {section.content.map((item) => (
                <p>{item}</p>
              ))}
            </>
          ) : (
            <p>{section.content}</p>
          )}
          {section.highlights && (
            <ul>
              {section.highlights.map((highlight) => (
                <li>{highlight}</li>
              ))}
            </ul>
          )}
          {section.image && <DynamicImage imagePath={section.image} altText={section.title} width={600} height={400} />}
        </section>
      ))
    }
  </div>
</article>

<style>
  .case-details {
    background-color: var(--primary03);
    padding: 40px;
    border-radius: var(--border-radius);
    display: flex;
    width: 100%;
    dl {
      display: flex;
      flex-direction: row;
      justify-content: space-evenlyt;
      padding-left: 40px;
      gap: 20px;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }

  section {
    grid-column: 2;
  }
  .img {
    border-radius: var(--border-radius);
    overflow: hidden;
  }
</style>
