---
import Logo from "@data/images/Logo.gul.svg";
import "../styles/tokens.css";
import coreValues from "@data/coreValues.json";
const { title, subtitle, eyebrow } = coreValues;
const { theme } = Astro.props;
---

<section data-theme={theme}>
  <div>
    <h2>{eyebrow}</h2>
    <h1>{title}</h1>
    <p>{subtitle}</p>
    <a href={coreValues.button.link}>{coreValues.button.text}</a>
  </div>
  <div class="cards-container">
    {
      coreValues.values.map(async ({ icon: iconName, title, description }) => {
        const icon = `/src/icons/${iconName}.svg`;

        return (
          <div class="card">
            <img class="icon-img" src={icon} alt="" />
            <div class="card-text">
              <h1>{title}</h1>
              <p>{description}</p>
            </div>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  [data-theme="dark"] {
  }
</style>
