---
import Logo from "@data/images/Logo.gul.svg";
import "../styles/tokens.css";
import coreValues from "@data/coreValues.json";
const { title, subtitle, eyebrow } = coreValues;
---

<section>
  <div>
    <h2>{eyebrow}</h2>
    <h1>{title}</h1>
    <p>{subtitle}</p>
    <a href={coreValues.button.link}>{coreValues.button.text}</a>
  </div>
  <div class="cards-container">
    {
      coreValues.values.map(({ icon, title, description }) => (
        <div class="card">
          <img class="icon-img" src={`/src/icon/${icon}.svg`} alt="" />
          <div class="card-text">
            <h1>{title}</h1>
            <p>{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .card {
    background-color: var(--color-neutrals-400);
  }
</style>
