---
import DynamicImage from "./helpers/DynamicImage.astro";
import DynamicIcon from "./helpers/DynamicIcon.astro";

const { employee } = Astro.props;
---

<article>
  <h3>
    <a
      href={`employees/${employee.slug}`}
      style={`view-transition-name: name-${employee.slug}`}>{employee.name}</a
    >
  </h3>
  <DynamicImage
    style={`view-transition-name: img-${employee.slug}`}
    imagePath={employee.img}
    altText=""
    class="employee-img"
  />
  <div>
    {
      employee.social_links.map((social) => (
        <a href={social.url}>
          {social.platform}
          <DynamicIcon name={social.icon} />
        </a>
      ))
    }
  </div>
</article>

<style>
  .employee-img {
    max-width: 300px;
  }
  svg {
    opacity: 0.3;
  }
  a {
    width: fit-content;
  }
</style>
